@{
    ViewBag.Title = "Home Page";
}
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>David Luke</h1>
        <h3>The Sky Developer</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Learn About Me</a>
    </div>
</header>


<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="small">
                <div class="row">
                    <p>My name is David Luke, I am a web developer working in the Kansas/Missouri area. I am currently seeking a new opportunity to expand on my skill set.</p>
                    <p>My skills are currently stronger in front end development but I am eager to learn more about the backend.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Projects -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Projects</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-sweep-to-right" href="/Projects/RandomQuoteMachine">
                            <div class="service-item">
                                <p class="projectTitle">Random Quote Machine</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-sweep-to-left" href="/Projects/LocalWeather">
                            <div class="service-item">
                                <p class="projectTitle">Local Weather</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-sweep-to-bottom" href="/Projects/WikipediaViewer">
                            <div class="service-item">
                                <p class="projectTitle">Wikipedia Viewer</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-sweep-to-top" href="/Projects/TwitchTv">
                            <div class="service-item">
                                <p class="projectTitle">Twitch TV</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /.row (nested) -->

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-bounce-to-right" href="/Projects/IGN">
                            <div class="service-item">
                                <p class="projectTitle">IGN</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-bounce-to-left" href="/Projects/PIDay">
                            <div class="service-item">
                                <p class="projectTitle">PI Day</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-bounce-to-bottom" href="/Projects/ROT13">
                            <div class="service-item">
                                <p class="projectTitle">ROT13 Algorithm</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-bounce-to-top" href="/Projects/PigLatin">
                            <div class="service-item">
                                <p class="projectTitle">Pig Latin</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /.row (nested) -->

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-radial-out" href="/Projects/LeastCommonMultiple">
                            <div class="service-item">
                                <p class="projectTitle">Least Common Multiple</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-radial-in" href="/Projects/FibonacciNumbers">
                            <div class="service-item">
                                <p class="projectTitle">Fibonacci Numbers</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-rectangle-in" href="/Projects/RomanNumeral">
                            <div class="service-item">
                                <p class="projectTitle">Roman Numerals</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-rectangle-out" href="/Projects/JSPractice">
                            <div class="service-item">
                                <p class="projectTitle">JS Practice</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /.row (nested) -->

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-shutter-in-horizontal" href="/Projects/ProfileLookup">
                            <div class="service-item">
                                <p class="projectTitle">Profile Lookup</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-shutter-out-horizontal" href="~/ReactProjects/MultipleChoiceQuiz/index.html">
                            <div class="service-item">
                                <p class="projectTitle">React JS - Multiple Choice Quiz</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-shutter-in-vertical" href="~/ReactProjects/TicTacToe/index.html">
                            <div class="service-item">
                                <p class="projectTitle">React JS - Tic Tac Toe</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a class="projectLink hvr-shutter-out-vertical" href="/AngularProjects/tourofheroes/index.html">
                            <div class="service-item">
                                <p class="projectTitle">Angular2 - Tour of StarWars Characters</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Skills -->
<section class="callout" id="callout">
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Skills</h2>
        <div class="avia-progress-bar-container avia_animate_when_almost_visible  avia-builder-el-17  el_after_av_textblock  el_before_av_textblock  av-striped-bar av-animated-bar avia_start_animation">
            <div>
                <span class="skillSet">Noob</span><span class="skillSet">Geek</span><span class="skillSet">Ninja</span><span class="skillSet">Jedi</span>
            </div>

            <div class="avia-progress-bar blue-bar icon-bar-yes">
                <div class="progressbar-title-wrap">
                    <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
                    <div class="progressbar-title">HTML/CSS</div>
                </div>
                <div class="progress avia_start_animation">

                    <div class="bar-outer">
                        <div class="bar" style="width: 85%" data-progress="85"></div>
                    </div>
                </div>
            </div>
            <div class="avia-progress-bar green-bar icon-bar-yes">
                <div class="progressbar-title-wrap">
                    <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
                    <div class="progressbar-title">Javascript/JQuery</div>
                </div>
                <div class="progress avia_start_animation">
                    <div class="bar-outer">
                        <div class="bar" style="width: 70%" data-progress="70"></div>
                    </div>
                </div>
            </div>

            <div class="avia-progress-bar teal-bar icon-bar-yes">
                <div class="progressbar-title-wrap">
                    <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
                    <div class="progressbar-title">C#/Linq</div>
                </div>
                <div class="progress avia_start_animation">
                    <div class="bar-outer">
                        <div class="bar" style="width: 50%" data-progress="50"></div>
                    </div>
                </div>
            </div>

            <div class="avia-progress-bar red-bar icon-bar-yes">
                <div class="progressbar-title-wrap">
                    <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
                    <div class="progressbar-title">React/Angular JS</div>
                </div>
                <div class="progress avia_start_animation">
                    <div class="bar-outer">
                        <div class="bar" style="width: 40%" data-progress="40"></div>
                    </div>
                </div>
            </div>

            <div class="avia-progress-bar gray-bar icon-bar-yes">
                <div class="progressbar-title-wrap">
                    <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
                    <div class="progressbar-title">Node/Express JS</div>
                </div>
                <div class="progress avia_start_animation">
                    <div class="bar-outer">
                        <div class="bar" style="width: 30%" data-progress="30"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- Resume -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Resume</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <h3>Profiles</h3>
                            <div>
                                <span><a target="_blank" href="https://www.linkedin.com/in/david-luke-a0b40779">LinkedIn</a> | </span>
                                <span><a target="_blank" href="https://codepen.io/dluke345/">CodePen</a> | </span>
                                <span><a target="_blank" href="https://github.com/dluke345">GitHub</a> | </span>
                                <span><a target="_blank" href="https://www.freecodecamp.com/dluke345">FreeCodeCamp</a> | </span>
                                <span><a target="_blank" href="https://www.codewars.com/users/dluke345">CodeWars</a> | </span>
                                <span><a target="_blank" href="https://app.pluralsight.com/profile/david-luke2">PluralSight</a></span>
                            </div>
                            <h3>Summary of Qualifictation</h3>
                            <ul>
                                <li>Experienced professional working under pressure, with an extraordinary attention to detail.</li>
                                <li>Acknowledged by peers and employers for superior problem solving and decision making abilities.</li>
                                <li>Excellent foundation knowledge in designing and developing web applications using .NET framework.</li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h3>Technical Skills</h3>
                            <p>HTML, CSS, JavaScript, jQuery, ReactJS, AngularJS, C#, Linq, ASP.NET, MVC, APIs, JSON, Responsive/Mobile Web Development</p>
                            <h4>IDE's</h4>
                            <p>Visual Studio, Sublime, Webstorm, NotePad++</p>
                            <h4>CSS Libraries</h4>
                            <p>Bootstrap and Foundation</p>
                        </div>
                        <div class="container-fluid">
                            <h3>Education and Technical Training</h3>
                            <ul>
                                <li>Saint Thomas Aquinas - High School, Overland Park, KS</li>
                                <li>University of Kansas - Undergraduate Studies, Lawrence, KS</li>
                                <li>Johnson County Community College - Undergraduate Studies, Overland Park, KS</li>
                                <li>Centriq Training - Application Developer in C#.NET Program, Leawood, KS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <h3>Professional Experience</h3>
                            <p>VinSolutions, Mission, KS <span>01/2015 - Present</span></p>
                            <p>Lexus/National Accounts Team – Website Support - Full Time Employee</p>
                            <ul>
                                <li>Create custom pages and functionality for clients websites using HTML, CSS and JS.</li>
                                <li>Development liaison for issues that cannot be fixed on the support level.</li>
                                <li>Implement third party code which then can be used across the entire platform.</li>
                                <li>Advise clients on best practices, questions and concerns about their websites.</li>
                                <li>Assist designers in launching new websites.</li>
                                <li>Q/A development deploys which impact Lexus and National Accounts.</li>
                                <li>Use spare time to increase my knowledge base on coding languages on websites like http://www.PluralSight.com and https://www.freecodecamp.com. </li>
                            </ul>

                            <p>VinSolutions, Mission, KS <span>08/2014 - 01/2015</span></p>
                            <p>Website Support Specialist - Full Time Position</p>
                            <ul>
                                <li>Worked on VIP client websites.</li>
                                <li>Used jQuery to create custom functionality.</li>
                                <li>Assisted clients and co-workers with HTML, CSS and jQuery.</li>
                                <li>Optimized code on pages for clients to gain better google speed test results.</li>
                            </ul>

                            <p>VinSolutions/Haystak, Mission, KS <span>12/2013 - 08/2014</span></p>
                            <p>Website Support Specialist - Contract Position</p>
                            <ul>
                                <li>Vastly increased my knowledge in HTML, CSS, and Javascript/Jquery.</li>
                                <li>Learned new techniques to write code more efficiently.</li>
                                <li>Efficient at finding errors in code.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Call to Action -->
<section id="contact">
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <hr class="small">
                    <div class="row">
                        <a href="mailto:dluke345@gmail.com" class="btn btn-lg btn-light">Email Directly</a>
                        <a href="/Home/Contact" class="btn btn-lg btn-dark">Contact Form</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>



<!-- OLD CONTENT **************

<div class="homeWrapper">

    <div class="homeMe">
        <strong>
            <p>Hello, my name is David Luke, I am a web developer working in the Kansas/Missouri area. I am currently seeking a new opportunity to expand on my skill set.</p>
            <p>My skills are currently stronger in front end development but I am eager to learn more about the backend.</p>
            <p>Site is under going construction.</p>
        </strong>
        <img class="myPic" src="~/Content/images/me.jpg" />
        <br /><br />
        <a class="btn btn-primary" href="/home/contact">Contact Me</a>
    </div>


    <hr />



    <div class="homePromos">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a class="promo promo1 hvr-underline-reveal" href="/Home/Projects">Projects</a>
            </div>
            <div class="col-md-6 col-sm-12">
                <a class="promo promo3 hvr-underline-reveal" href="/Home/Resume">Resume</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <a class="promo promo4 hvr-underline-reveal" href="/Home/Contact">Contact</a>
            </div>
        </div>

    </div>


</div>

-->
