@{
    ViewBag.Title = "Projects";
}
<h1>@ViewBag.Title</h1>
<hr />
<h3></h3>

<div class="Projects">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/RandomQuoteMachine">Random Quote Machine API</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/LocalWeather">Local Weather API</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/WikipediaViewer">Wikipedia Viewer API</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/TwitchTv">Twitchtv API</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/IGN">IGN API</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/PIDay">PI Day</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/ROT13">ROT13</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/PigLatin">Pig Latin</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/LeastCommonMultiple">Least Common Multiple</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/FibonacciNumbers">Fibonacci Numbers</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/RomanNumeral">Roman Numeral</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/JSPractice">JS Practice</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/Projects/ProfileLookup">Profile LookUp</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="~/ReactProjects/MultipleChoiceQuiz/index.html">React - Quiz</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="~/ReactProjects/TicTacToe/index.html" target="_blank">React - Tic Tac Toe</a>

        </div>
        <div class="col-md-6 col-sm-12">
            <a class="promo hvr-radial-in hvr-shadow" href="/AngularProjects/tourofheroes/index.html" target="_blank">Angular Project</a>

        </div>
    </div>

</div>