@{
    ViewBag.Title = "Resume";
}
<h1>Skills and Resume</h1>
<hr />
<h3>Skills</h3>

<div class="avia-progress-bar-container avia_animate_when_almost_visible  avia-builder-el-17  el_after_av_textblock  el_before_av_textblock  av-striped-bar av-animated-bar avia_start_animation">
    <div>
        <span class="skillSet">Noob</span><span class="skillSet">Geek</span><span class="skillSet">Ninja</span><span class="skillSet">Jedi</span>
    </div>

    <div class="avia-progress-bar blue-bar icon-bar-yes">
        <div class="progressbar-title-wrap">
            <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
            <div class="progressbar-title">HTML/CSS</div>
        </div>
        <div class="progress avia_start_animation">

            <div class="bar-outer">
                <div class="bar" style="width: 85%" data-progress="85"></div>
            </div>
        </div>
    </div>
    <div class="avia-progress-bar green-bar icon-bar-yes">
        <div class="progressbar-title-wrap">
            <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
            <div class="progressbar-title">Javascript/JQuery</div>
        </div>
        <div class="progress avia_start_animation">
            <div class="bar-outer">
                <div class="bar" style="width: 70%" data-progress="70"></div>
            </div>
        </div>
    </div>
    <div class="avia-progress-bar red-bar icon-bar-yes">
        <div class="progressbar-title-wrap">
            <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
            <div class="progressbar-title">React/Angular JS</div>
        </div>
        <div class="progress avia_start_animation">
            <div class="bar-outer">
                <div class="bar" style="width: 40%" data-progress="40"></div>
            </div>
        </div>
    </div>

    <div class="avia-progress-bar gray-bar icon-bar-yes">
        <div class="progressbar-title-wrap">
            <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
            <div class="progressbar-title">Node/Express JS</div>
        </div>
        <div class="progress avia_start_animation">
            <div class="bar-outer">
                <div class="bar" style="width: 30%" data-progress="30"></div>
            </div>
        </div>
    </div>

    <!--
        <div class="avia-progress-bar teal-bar icon-bar-yes">
        <div class="progressbar-title-wrap">
            <div class="progressbar-icon"><span class="progressbar-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span></div>
            <div class="progressbar-title"></div>
        </div>
        <div class="progress avia_start_animation">
            <div class="bar-outer">
                <div class="bar" style="width: 30%" data-progress="30"></div>
            </div>
        </div>
    </div>
        -->
</div>

<hr />
<h3>Resume</h3>
<p style="font-style:italic;">Click <a href="https://www.dropbox.com/s/4wf6zo3kimqy7mg/DavidLResume2017.docx?dl=0" target="_blank">here</a> to view printable version.</p>
<div id="Resume">
    <div class="container-fluid">
        <h3>Summary of Qualifictation</h3>
        <ul>
            <li>Experienced professional working under pressure, with an extraordinary attention to detail.</li>
            <li>Acknowledged by peers and employers for superior problem solving and decision making abilities.</li>
            <li>Excellent foundation knowledge in designing and developing web applications using .NET framework.</li>
        </ul>
    </div>
    <div class="container-fluid">
        <h3>Technical Skills</h3>
        <p>HTML, CSS, JavaScript, jQuery, ReactJS, AngularJS, ASP.NET, MVC, APIs, JSON, Responsive/Mobile Web Development</p>
        <h4>IDE's</h4>
        <p>Visual Studio, Sublime, Webstorm, NotePad++</p>
        <h4>CSS Libraries</h4>
        <p><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a> and <a target="_blank" href="http://foundation.zurb.com">Foundation</a></p>
    </div>
    <div class="container-fluid">
        <h3>Education and Technical Training</h3>
        <ul>
            <li>Saint Thomas Aquinas - High School, Overland Park, KS</li>
            <li>University of Kansas - Undergraduate Studies, Lawrence, KS</li>
            <li>Johnson County Community College - Undergraduate Studies, Overland Park, KS</li>
            <li>Centriq Training - Application Developer in C#.NET Program, Leawood, KS</li>
        </ul>
    </div>
    <div class="container-fluid">
        <h3>Professional Experience</h3>
        <p>VinSolutions, Mission, KS <span>01/2015 - Present</span></p>
        <p>Lexus/National Accounts Team – Website Support - Full Time Employee</p>
        <ul>
            <li>Create custom pages and functionality for clients websites using HTML, CSS and JS.</li>
            <li>Development liaison for issues that cannot be fixed on the support level.</li>
            <li>Implement third party code which then can be used across the entire platform.</li>
            <li>Advise clients on best practices, questions and concerns about their websites.</li>
            <li>Assist designers in launching new websites.</li>
            <li>Q/A development deploys which impact Lexus and National Accounts.</li>
            <li>Use spare time to increase my knowledge base on coding languages on websites like http://www.PluralSight.com and https://www.freecodecamp.com. </li>
        </ul>

        <p>VinSolutions, Mission, KS <span>08/2014 - 01/2015</span></p>
        <p>Website Support Specialist - Full Time Position</p>
        <ul>
            <li>Worked on VIP client websites.</li>
            <li>Used jQuery to create custom functionality.</li>
            <li>Assisted clients and co-workers with HTML, CSS and jQuery.</li>
            <li>Optimized code on pages for clients to gain better google speed test results.</li>
        </ul>

        <p>VinSolutions/Haystak, Mission, KS <span>12/2013 - 08/2014</span></p>
        <p>Website Support Specialist - Contract Position</p>
        <ul>
            <li>Vastly increased my knowledge in HTML, CSS, and Javascript/Jquery.</li>
            <li>Learned new techniques to write code more efficiently.</li>
            <li>Efficient at finding errors in code.</li>
        </ul>
    </div>
</div>
