@model anotherTest.Models.ContactModels

@{
    ViewBag.Title = "Success";
}

<h1>Success</h1>
<h2>Thank you, @Model.FirstName</h2>

<p>Message was successfully sent! I will reach out to you as soon as possible.</p>